<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,961}</string>
                <key>spriteSourceSize</key>
                <string>{888,961}</string>
                <key>textureRect</key>
                <string>{{5578,706},{888,961}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-berry-dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,602}</string>
                <key>spriteSourceSize</key>
                <string>{490,602}</string>
                <key>textureRect</key>
                <string>{{1079,0},{490,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-berry-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,602}</string>
                <key>spriteSourceSize</key>
                <string>{490,602}</string>
                <key>textureRect</key>
                <string>{{1569,0},{490,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,603}</string>
                <key>spriteSourceSize</key>
                <string>{640,603}</string>
                <key>textureRect</key>
                <string>{{2059,0},{640,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{958,778}</string>
                <key>spriteSourceSize</key>
                <string>{958,778}</string>
                <key>textureRect</key>
                <string>{{2433,706},{958,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coconut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{845,681}</string>
                <key>spriteSourceSize</key>
                <string>{845,681}</string>
                <key>textureRect</key>
                <string>{{4933,0},{845,681}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green-apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,868}</string>
                <key>spriteSourceSize</key>
                <string>{679,868}</string>
                <key>textureRect</key>
                <string>{{4220,706},{679,868}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green-grape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,718}</string>
                <key>spriteSourceSize</key>
                <string>{752,718}</string>
                <key>textureRect</key>
                <string>{{0,706},{752,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{913,611}</string>
                <key>spriteSourceSize</key>
                <string>{913,611}</string>
                <key>textureRect</key>
                <string>{{3339,0},{913,611}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,549}</string>
                <key>spriteSourceSize</key>
                <string>{623,549}</string>
                <key>textureRect</key>
                <string>{{0,0},{623,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{6466,706},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,864}</string>
                <key>spriteSourceSize</key>
                <string>{829,864}</string>
                <key>textureRect</key>
                <string>{{3391,706},{829,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,700}</string>
                <key>spriteSourceSize</key>
                <string>{681,700}</string>
                <key>textureRect</key>
                <string>{{5778,0},{681,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,1054}</string>
                <key>spriteSourceSize</key>
                <string>{592,1054}</string>
                <key>textureRect</key>
                <string>{{7490,706},{592,1054}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{697,706}</string>
                <key>spriteSourceSize</key>
                <string>{697,706}</string>
                <key>textureRect</key>
                <string>{{7144,0},{697,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raspberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,598}</string>
                <key>spriteSourceSize</key>
                <string>{456,598}</string>
                <key>textureRect</key>
                <string>{{623,0},{456,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red-apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,868}</string>
                <key>spriteSourceSize</key>
                <string>{679,868}</string>
                <key>textureRect</key>
                <string>{{4899,706},{679,868}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red-cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,603}</string>
                <key>spriteSourceSize</key>
                <string>{640,603}</string>
                <key>textureRect</key>
                <string>{{2699,0},{640,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red-grape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,732}</string>
                <key>spriteSourceSize</key>
                <string>{766,732}</string>
                <key>textureRect</key>
                <string>{{752,706},{766,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-fruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,613}</string>
                <key>spriteSourceSize</key>
                <string>{681,613}</string>
                <key>textureRect</key>
                <string>{{4252,0},{681,613}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,703}</string>
                <key>spriteSourceSize</key>
                <string>{685,703}</string>
                <key>textureRect</key>
                <string>{{6459,0},{685,703}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,748}</string>
                <key>spriteSourceSize</key>
                <string>{915,748}</string>
                <key>textureRect</key>
                <string>{{1518,706},{915,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{8082,1760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c483f962f4b9c75e8652e55b36214bb7:c9e65c4822dd40b2264c0d1c94918997:a73c72aca107c42120aa7eba166486e5$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
